
body {
    font-family: arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.page {
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu {
    float: left;
    width: 15%;
}
.content {
    float: right;
    min-height: 500px;
    width: 84%;
}
.header {
    background: none repeat scroll 0 0 #095b8d;
    color: #fff;
    height: 39px;
}
.footer {
    background: none repeat scroll 0 0 #095b8d;
    clear: both;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.top_login {
    background: none repeat scroll 0 0 #ccc;
    color: #234233;
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.frm_login {
    background: none repeat scroll 0 0 #eee;
    border-radius: 5px;
    height: 150px;
    margin: 40px auto 188px;
    padding: 26px;
    position: relative;
    width: 316px;
}
.frm_login input {
    border: 1px solid #ccc;
    float: right;
    height: 24px;
    margin-top: 11px;
    right: 58px;
    width: 200px;
}
#form > div {
    line-height: 38px;
}
.frm_login button {
    border: medium none;
    border-radius: 3px;
    cursor: pointer;
    line-height: 28px;
    margin-left: 109px;
    padding: 0 10px;
}

.header > a {
    color: #fff;
    text-decoration: none;
}

.menu li {
     background: none repeat scroll 0 0 #ccc;
    list-style: none outside none;
    margin-bottom: 1px;
    padding: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
.menu li a {
    margin-left: 11px;
    text-decoration: none;
}

.administrator {
    float: left;
    font-size: 26px;
    margin-left: 10px;
    width: 40%;
}
.infor-login {
    float: right;
    padding-right: 10px;
    padding-top: 9px;
    text-align: right;
    width: 20%;
}
.infor-login > a {
    color: #fff;
}

.phantrang {
     background: none repeat scroll 0 0 #ddd;
    height: 36px;
    text-align: right;
    width: 100%;
}
.phantrang li {
    float: left;
    list-style: none outside none;
    margin: 10px;
}
table {
    width: 100%;
}
.phantrang > ul {
    float: right;
}

tr {
    background: none repeat scroll 0 0 #ccc;
    line-height: 23px;
}

.frm_categogy {
    width: 473px;
}
.frm_categogy input {
    height: 21px;
    left: 149px;
    position: absolute;
    top: 8px;
    width: 246px;
}
#form > div {
    position: relative;
}
input {
    border: 1px solid #ccc;
}
select {
    border: 1px solid #ccc;
}
.frm_categogy select {
    height: 25px;
    left: 148px;
    position: absolute;
    top: 4px;
}

.loading {
    display: none;
    height: 500px;
    position: fixed;
    right: 0;
    top: 39px;
    width: 84%;
}
